<nav class="navbar navbar-expand-lg bg-dark">
    <a class="navbar-brand" [routerLink]="['/']">ngEvents</a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a
                    class="nav-link"
                    [routerLink]="['/events']"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    >All Events</a
                >
            </li>
            <li>
                <a
                    href=""
                    class="nav-link"
                    [routerLink]="['/events/new']"
                    routerLinkActive="active"
                    >Create Event</a
                >
            </li>
            <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    Events
                    <span class="caret"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div *ngFor="let event of events" routerLinkActive="active">
                        <a
                            routerLinkActive="active"
                            #rla="routerLinkActive"
                            class="dropdown-item"
                            [routerLink]="'/events/' + event.id"
                        >
                            {{ event.name }}
                        </a>
                        <div class="dropdown-divider"></div>
                    </div>
                </div>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0" id="searchForm">
            <input
                type="search"
                class="form-control mr-sm-2"
                placeholder="Search sessions"
                aria-label="Search"
            />
            <button class="btn btn-outline-success my-2 my-sm-0">
                Search
            </button>
        </form>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li>
                    <a
                        *ngIf="!auth.isAuthenticated()"
                        [routerLink]="['user/login']"
                        >Login</a
                    >
                    <a
                        *ngIf="auth.isAuthenticated()"
                        [routerLink]="['user/profile']"
                        >Welcome {{ auth.currentUser.firstName }}</a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>
